.explorer-item{
    font-size: 2.8rem;
    width: 75%;
    background-color: #F1F1F1;
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 2.4rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;

    p{
        margin-left: 2rem;
    }

    span{
        font-size: 4rem;
        user-select: none;
    }
}

.explorer-editor{
    width: 100%;
    height: 100%;
    padding: 2rem;
    outline: none;
}

.explorer-controls{
    position: absolute;
    top: 1.3rem;
    left: 1.3rem;
    user-select: none;
    
    button{
        cursor: pointer;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;

        span{
            font-size: 3.5rem;
        }

        &:not(:last-child){
            margin-right: 2rem;
        }
    }
}

//icon colors
.color-folder{
    color: #F6C943;
}

.color-file{
    color: rgb(146, 143, 143);
}

.color-image{
    color: rgb(28, 83, 236);
}